main {
  background-color: white; /* Changed background to white */
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(207, 73, 73, 0.1);
  height: 100%;
  overflow-y: auto;
  display: grid;
  gap: 2rem;
  color: #000000;
}

.book-card {
  border-radius: 1rem;
  padding: 0.75rem;
  box-shadow: 0 4px 6px rgba(236, 37, 37, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1rem; /* Added padding to the product card */
  background-color: #e32626; /* Added a black background to the product card */
}

.book-card__image__container {
  height: 12rem;
  border-radius: 1rem;
}

.book-card__image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
h1 {
  text-align: center;
  color: #df2121;
  padding-bottom: 15px;
}
.book-card__details {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.book-card__details__information {
  font-size: 1.25rem;
}

.button-container {
  margin-top: auto;
  padding-top: 1rem;
}

.button-borrow {
  background-color: transparent;
  font-size: 1.25rem;
  padding: 0.25rem 1rem;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
}

.button-borrow:hover {
  background-color: red; /* Changed hover color to red */
  color: white;
}

@media (max-width: 767px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(5, 1fr);
  }
}
